@import url('https://fonts.googleapis.com/css2?family=Narnoor&family=Open+Sans:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
:root{
    --clr-bg: #fff;
    --clt-txt: #000;
    --clr-main: #081C15;
    --clr-snow: #F2F0EB;
    --clr-darkgrey: #D7DCE2;
    --clr-lightergrey: #F7F7F7;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
#salutation {
    width: 100%;
    height: 100%;
    background: black;
    color: #fff;
    font-size: 6rem;
    padding-top: 20%;
    text-align: center;
}

body{
    height: 100%;
    background-image: url(images/labbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
}
/*#firstpage{
    background: #F2F0EB;
}*/
/*navbar css*/
header{
    height: 80px;
}
li{
    list-style: none;
}
a{
    color: var(--clr-snow);
    text-decoration: none;
}
.navbar{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    z-index: 9999;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    text-transform: uppercase;
}
.logo{
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    padding-right: 50px;
}
.nav-item{
    transition: 0.3s ease;
    font-size: 15px;
    font-weight: 500;
}
.nav-item:hover a{
    color: var(--clr-snow);
    font-size: 20px;
    border-radius: 4px;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}
/*font-family: 'Narnoor', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;*/



/*leading section css*/
#leading{
    position: relative;
    width: 100%;
    height: max-content;
   /* background: #081C15;*/
}
.presentation{
    float: right;
    padding: 10%;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin-block-start: 5rem;
}
.presentation p{
    margin-block-end: 1em;
    color: #F2F0EB;
}
.one, .two{
    text-transform: capitalize;
    font-size: 3.2rem;
}
.contacts{
    padding: 15px;
}
.socials{
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials li{
    margin: 0 10px;
}

.socials a i{
    font-size: 1.5rem;
    color: #F2F0EB;
}
.socials a:hover i{
    font-size: 2rem;
    color: #fff;
}


/*project's page css*/
#projects{
    position: relative;
    padding: 2rem 0;
}
.section-heading{
    color: var(--clr-snow);
    font-size: 4rem;
    text-align: center;
    margin-bottom: 3rem;
    text-transform: uppercase;
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 10rem;
}
.item:nth-child(even){
    flex-direction: row-reverse;
}
.item .left{
    flex: 1;
}
.item .right{
    flex: 1;
    margin-left: -150px;
    background-color: var(--clr-darkgrey);
    padding: 5rem 2rem;
    border-radius: 12px;
    box-shadow: 0 0 20px #00000028;
    z-index: 2;
}
.item:nth-child(even) .right{
    margin-left: 0;
}
.item:nth-child(even) .left{
    margin-left: -150px;
}
.item .left .img{
    height: 500px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 0px 20px #081C15;
    position: relative;
}
.item .left .img::after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #081C15;
}
.item .left .img img{
    object-fit: cover;
    transition: .3 ease transform;
}
.item:hover .left .img img{
    transform: scale(1.1);
    z-index: 1;
}
.item .right .project-title{
    color: var(--clr-main);
    font-size: 2.5rem;
    font-family: 'Narnoor', sans-serif;
    margin-bottom: 1rem;
}
.item .right .project-desc{
    color: var(--clr-main);
    margin-bottom: 3rem;
}
.item .right .buttons a{
    color: var(--clr-main);
    padding:0 5px;
}
.item .right .buttons a:hover i{
    color: #fff;
}

/**about me css*/
#about{
    position: relative;
    padding: 2rem 0;
}
.about p{
    color: var(--clr-snow);
    font-family: 'Narnoor', sans-serif;
    float: right;
    padding:10px;
    margin-left: 35%;
    display: flex;
    font-size: 1.2rem;
    line-height: 1.6;
}
.work{
    padding: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.work a{
    font-size: 18px;
    padding: 20px;
    margin-left: 20px;
    background:#081C15 ;
    color: #F2F0EB;
    border-radius: 6px;
}


/*navbar responsive*/
@media (max-width: 769px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .logo{
        padding: 0;
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transform: 0.3s;
    }
    .nav-item{
        margin: 20px 0;
    }
    .nav-menu.active{
        left:0;
    }
}